{% extends "base.html" %}
{% block content %}
<h2>Стек</h2>
<ul>
  <li>Python 3.9</li>
  <li>Django 3.2</li>
  <li>DRF</li>
  <li>PostgresSQL</li>
  <li>Celery</li>
  <li>Redis</li>
  <li>Flower</li>
  <li>Docker + Docker Compose</li>
  <li>Traefik</li>
  <li>Prometheus</li>
  <li>Grafana</li>
</ul>
<p>Flower расположен на порту :5555</p>
<h2>Задача</h2>
<p>Необходимо разработать сервис управления рассылками API администрирования и получения статистики.</p>

<h2>Описание</h2>
<ul>
  <li>Необходимо реализовать методы создания новой рассылки, просмотра созданных и получения статистики по выполненным рассылкам.</li>
  <li>Реализовать сам сервис отправки уведомлений на внешнее API.</li>
  <li>
    Опционально вы можете выбрать любое количество дополнительных пунктов описанных после основного.
    Для успешного принятия задания как выполненного достаточно корректной и рабочей реализации требований по основной части, но дополнительные пункты помогут вам продемонстрировать ваши навыки в смежных технологиях.
  </li>
</ul>

{% endblock content %}
